.rwCardPhotoLink{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .4s;
}

.rwCardPhotoLinkHorizontal{
    width: 100%;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column; 
}

.rwCardPhotoFondo{
    position: absolute;
}

.rwCardPhotoContIcon{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2em;
    background-image: linear-gradient(
    to bottom,
    
    hsl(0, 0%, 100%, .0),
    hsl(0, 100%, 0%, 1)
  );
    z-index: 2;
    pointer-events: none;
}
.rwCardPhotoContIcon::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom,
        hsl(0, 0%, 100%, .0),
        hsl(0, 100%, 100%, 1)
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.rwCardPhotoLink:hover .rwCardPhotoContIcon::before{
    opacity: 1;
}

.rwCardPhotoContIcon svg path{
    transition: all .7s;
}

.rwCardPhotoLink:hover .rwCardPhotoContIcon svg path{
    stroke: black;
}