<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Outfit:wght@100;400;700&family=Poppins:wght@500&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Outfit:wght@100;400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');*/
>>>>>>> 0ba62eedbd61359b3cc88a4f9d5e290023666ed5

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5{
  font-family: 'Outfit',sans-serif;
  font-weight: 700 !important;
}

.font-merriweather{
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
}

p, span {
  font-family: 'Outfit',sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
