.rwHeader{
    display: flex;
    background-color: white;
    transition: .4s;
}

.rwHeaderCont{
    padding: 1.5em;
}
.rwHeaderContItemsLink{
    color: black;
    font-family: 'Merriweather', sans-serif !important;
    font-family: italic;
    transition: all .4s;
}
.rwHeaderContItemsLink:hover{
    color: black;
    opacity: .9;
    text-decoration: underline;
    font-weight: bold;
}

.rwHeaderDark{
    background-color: transparent;
}

.rwHeaderDark a{
    color: white;
}

.rwHeaderDark a:hover{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.rwHeaderFixedTop{
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}