.rwSubheaderw{
    display: flex;
    height: 780px;
    position: relative;
}
.rwSubheaderw__image{
    width: 50%;
    position: absolute;
    height: 780px;
}
.rwSubheaderw__white{
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
}
.rwSubheaderw__gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(269.92deg, #FFFFFF 3.2%, rgba(0, 0, 0, 0) 99.93%);
}
.rwSubheaderw__content{
    height: 100%;
    z-index: 1;
}
.rwSubheaderw__content h3{
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 0 4em;
}
.rwSubheaderw__content h5{
    font-family: 'Merriweather', sans-serif !important;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 300 !important;
}
.rwSubheaderw__content p{
    color: #3E3E3E;
    font-size: 20px;
    padding-right: 1em;
}
.rwSubheaderw__info{
    width: 660px;
    padding-top: 9em;
    float: right;
}
.rwSubheaderw__text{
    height: 402px;
}
.rwSubheaderwScroll{
    overflow-y: scroll;
}
.rwSubheaderw__text::-webkit-scrollbar{
    width: 8px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
.rwSubheaderw__text::-webkit-scrollbar-thumb{
    background-color: #8A8A8A;
    border-radius: 10px;
}
.rwSubheaderw__btn{
    text-align: right;
    margin-top: 4em;
    display: none;
}
.rwSubheaderwButton{
    display: block;
}
.rwSubheaderw__btn a{
    background-color: black;
    display: inline-flex;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    padding: 0 2em;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    transition: all .4s;
}
.rwSubheaderw__btn a:hover{
    background-color: #636363;
    color: white;
}
.rwSubheaderw__left{
    flex-direction: column-reverse;
}
.rwSubheaderw__left .rwSubheaderw__image{
    right: 0;
}
.rwSubheaderw__left .rwSubheaderw__gradient{
    background: linear-gradient(90deg, #FFFFFF 3.2%, rgba(0, 0, 0, 0) 99.93%);
}
.rwSubheaderw__left .rwSubheaderw__info{
    float: left;
}
.rwSubheaderw__text span{
    font-size: 16px;
    font-style: italic;
}
.rwSubheaderw__text strong{
    font-weight: 400;
    font-size: 15px;
    padding: 0 1em;
    display: block;
}
.rwSubheaderw__text h3{
    text-align: left;
    padding: 0;
    font-size: 25px;
}