.rwSubheaderw{
    display: flex;
    height: 780px;
    position: relative;
}
.rwSubheaderw__image{
    width: 100%;
    position: absolute;
    height: 780px;
}
.rwSubheaderw__content{
    height: 100%;
    z-index: 1;
}
.rwSubheaderw__content h3{
    color: black;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 0 4em;
}
.rwSubheaderw__content h5{
    font-family: 'Merriweather', sans-serif !important;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 300 !important;
}
.rwSubheaderw__content p{
    color: #3E3E3E;
    font-size: 20px;
    padding-right: 2em;
}
.rwSubheaderw__info{
    width: 660px;
    padding-top: 9em;
    float: right;
}
.rwSubheaderw__text{
    height: 402px;
}
.rwSubheaderwScroll{
    overflow-y: scroll;
}
.rwSubheaderw__text::-webkit-scrollbar{
    width: 8px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
.rwSubheaderw__text::-webkit-scrollbar-thumb{
    background-color: #8A8A8A;
    border-radius: 10px;
}
.rwSubheaderw__btn{
    text-align: right;
    margin-top: 4em;
    display: none;
}
.rwSubheaderwButton{
    display: block;
}
.rwSubheaderw__btn a{
    background-color: black;
    display: inline-flex;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    padding: 0 2em;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    transition: all .4s;
}
.rwSubheaderw__btn a:hover{
    background-color: #636363;
    color: white;
}